MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGO_DATABASE=eventzen
SERVER_PORT=8080
LOG_LEVEL=INFO
INTERNAL_SERVICE_SECRET=replace-with-strong-random-secret
IDENTITY_SIGNATURE_SECRET=replace-with-strong-signature-secret
IDENTITY_SIGNATURE_MAX_AGE_MS=30000
