MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGO_DATABASE=eventzen
SERVER_PORT=8081
EVENT_SERVICE_BASE_URL=http://localhost:8080
KAFKA_BROKER=kafka:9092
INTERNAL_CALLER_NAME=budget-service
INTERNAL_SERVICE_SECRET=replace-with-shared-internal-secret
INTERNAL_SIGNATURE_TTL_MS=60000
